.dc_color_1 {
  background: rgb(161, 135, 91);
}

.dc_color_2 {
  background: rgb(115, 110, 110);
}

.dc_color_3 {
  background: rgb(220, 160, 104);
}

.dc_color_4 {
  background: rgb(145, 146, 116);
}

.dc_color_5 {
  background: rgb(234, 191, 135);
}

.dc_color_6 {
  background: rgb(162, 186, 222);
}

.dc_color_7 {
  background: rgb(242, 245, 183);
}

.dc_color_8 {
  background: rgb(195, 243, 162);
}
