@import './assets/mixins.scss';

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.regular_text {
  font-size: 28px;
  font-weight: 400;

  @include media-breakpoint-down(sm) {
    font-size: 22px;
  }
}

.big_text {
  font-size: 64px;
  font-weight: 600;
}

.match_char {
  font-size: 72px;
  font-weight: 250;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.font_title {
  font-size: 48px;
}

@keyframes mymove {
  50% {
    drop-shadow: 10px 20px 30px blue;
  }
}

@keyframes bouncing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.title {
  font-size: 84px;
  font-weight: 300;
}

.location_link {
  transition: all ease-in-out 0.3s;
  &:hover {
    animation: bouncing 1s infinite;
  }

  > svg {
    height: 72px;
    width: 72px;
    animation: mymove 5s infinite;
  }
}

.header_bg {
  background-image: url('/images/header_image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  // // Adding a blur effect
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/images/header_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px); // Blur effect on background
    z-index: 1;
  }
}

.header_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 20px;
  background: var(--black);

  min-height: 80vh;

  width: 100%;
  padding: 20px;

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
  }

  .dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    font-weight: 300;
    color: var(--white);
    width: 100%;

    position: relative;
    z-index: 20;
  }

  .photo {
    width: 100%;
    img {
      width: 100%;
      object-fit: contain;
      position: relative;
      z-index: 1;
    }
  }
}

.short_preview_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 20px;
  padding: 30px 0px;

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr 2fr;
  }

  .vertical_date {
    display: flex;
    flex-direction: column;
  }

  .paragraph {
    padding-right: 12px;
    text-align: left;
  }
}

.names_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.location_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 20px;
  padding: 40px 0px;

  > hr {
    display: none;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;

    > hr {
      display: block;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    > :first-child {
      max-height: 128px;
    }

    > h5 {
      font-size: 48px;
    }

    > h4 {
      font-size: 22px;
      font-weight: 300;
      max-width: 340px;
      text-align: center;
    }
  }
}

.count_down_section {
  display: flex;
  justify-content: center;
  padding: 20px;

  @include media-breakpoint-down(xs) {
    padding: 20px 14px;
  }

  > .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // gap: 12px;

    padding: 12px;
    margin: 0px 20px;
    border-radius: 12px;

    width: 72px;
    height: 72px;

    background-color: var(--white);
    color: var(--black);

    @include media-breakpoint-down(xs) {
      width: 52px;
      height: 52px;

      > h4 {
        font-size: 28px !important;
      }

      > .date_label {
        font-size: 16px !important;
      }
    }

    > h4 {
      font-size: 36px;
    }

    > .date_label {
      font-size: 18px;
      font-weight: 300;
      text-align: center;
    }
  }
}

.dress_code_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding-bottom: 40px;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;

    > h3 {
      font-size: 48px;
      font-weight: 300;
    }

    > h5 {
      font-size: 24px;
      font-weight: 300;
      max-width: 600px;
      text-align: center;
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @include media-breakpoint-down(xs) {
      grid-template-columns: 1fr;
    }

    .image_container {
      max-width: 500px;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    .colors_container {
      display: flex;
      justify-content: center;
    }

    .colors {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;

      @include media-breakpoint-down(xs) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 20px;

        h5 {
          grid-column: 1 / 5 !important;
        }

        > div {
          width: 66px !important;
          height: 66px !important;
        }
      }

      h5 {
        grid-column: 1 / 3;
        place-self: center;
        font-size: 32px;
      }

      > div {
        width: 92px;
        height: 92px;
        border-radius: 50%;
      }
    }
  }
}

.footer_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 0px;

  > h5 {
    font-size: 24px;
    font-weight: 300;
    max-width: 600px;
    text-align: center;
    color: var(--white);
  }

  > h3 {
    color: var(--white);
    font-size: 48px;
    font-weight: 600;
  }
}
